.grid {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-gap: 5px;
  margin: 10px;
  background-color: white;
}

.warning {
  color: red;
  font-weight: bold;
}

img {
  height: 200px;
  display: block;
  margin: 0 auto;
  padding: 10px;
}

.item{
  border: 1px solid darkgrey;
  padding: 10px;
}

.item p{
  margin-left: 20px;
}

.type {
  font-size: 8pt;
  color: grey;
}

.item:hover{
  /* transform: scale(1.2); */
}

.details {
  /*display: none;*/
}

.item:hover .details {
  background-color: white;
  display: block;
}

button{
  border: 1px solid darkgrey;
  background-color: lightgrey;
  margin: 10px;
  padding: 5px;
}

.itemDetails{
  /*Hides pop-up when there is no "active" class*/
  visibility:hidden;
  position:fixed;
  background:#ffffff;
  border:1px solid darkgrey;

  top:50%;
  left:50%;
  width:500px;  /* adjust as per your needs */
  height:500px;   /* adjust as per your needs */
  margin-left:-200px;   /* negative half of width above */
  margin-top:-200px;
  padding: 20px;
  /*width:50%;
  height:50%;
  left:25%;*/
}
.itemDetails.active{
  /*displays pop-up when "active" class is present*/
  visibility:visible;
  text-align:center;
}

.itemContent {
  /*Hides pop-up content when there is no "active" class */
 visibility:hidden;
}

.itemContent.active {
  /*Shows pop-up content when "active" class is present */
  visibility:visible;
}
