h1{
  text-align: center;
}
.grid {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 5px;
  margin: 10px;
  background-color: white;
}

.warning {
  color: red;
  font-weight: bold;
}

img {
  height: 200px;
  display: block;
  margin: 0 auto;
  padding: 10px;
  max-width: 100%;
}

.item{
  border: 1px solid darkgrey;
  padding: 10px;
}

.item p{
  margin-left: 20px;
}

.type {
  font-size: 8pt;
  color: grey;
}

.item:hover{
  /* transform: scale(1.2); */
}

.details {
  /*display: none;*/
}

.item:hover .details {
  background-color: white;
  display: block;
}

.filter {
  width: 210px;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 20px;
  /*left: 10px;*/
  overflow-x: hidden;
  padding:40px 0 0 20px;
  font-size: 12pt;
}

.main{
  margin-left: 210px;
}

button{
  border: 1px solid darkgrey;
  background-color: lightgrey;
  margin: 10px;
  padding: 5px;
  width: 70px;
}

.itemDetails{
  /*Hides pop-up when there is no "active" class*/
  visibility:hidden;
  position:fixed;
  font-size: 12pt;
  background:#ffffff;
  border:1px solid darkgrey;

  top:50%;
  left:50%;
  width:500px;  /* adjust as per your needs */
  height:550px;   /* adjust as per your needs */
  margin-left:-200px;   /* negative half of width above */
  margin-top:-200px;
  padding: 20px;
  padding-top: 10px;
}

.itemDetails.active{
  /*displays pop-up when "active" class is present*/
  visibility:visible;
  text-align:center;
}

.itemContent {
  /*Hides pop-up content when there is no "active" class */
 visibility:hidden;
}

.itemContent.active {
  /*Shows pop-up content when "active" class is present */
  visibility:visible;
}
